/********************************************************************* CSS VARIABLES *********************************************************************/ 

:root {

  --main-bg-color : #f1f1f1;
  --secondary-bg-color : #191919;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/********************************************************************* BASIC CSS *********************************************************************/ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.container {
  position: relative;
}

/********************************************************************* NAV *********************************************************************/ 

.menu_burger {
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.ul_links {
  padding-left: 3rem;
}

.nav {
  position: absolute;
  top: 0;
  width: 70%;
  height: 100vh;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  justify-content: space-evenly;
}

.navlinks {
  width: 100%;
  padding: 3rem 3rem 0.25rem 0;
  font-size: 2rem;
  text-align: left;
  border-bottom: 1px black solid;
}

.croix {
  width: 3rem;
  position: absolute; 
  top: 0;
  right: 0;
  padding: 0.5rem;
}



