/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@600&display=swap');
:root {

  --main-bg-color : #ffffff;
  --secondary-bg-color : #191919;
  --third-color : #524c4c;
  --button-color: #7067CF;
  --blog-title:  #163860;
  --box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 16px;
}


/********************************************************************* BASIC CSS *********************************************************************/ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--main-bg-color);
}
h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
}

h3 {
  font-size: 1.2rem;
}

h1, h2 {
  font-family: 'Mukta', sans-serif;
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

a.lien {
  color: var(--button-color);
  text-decoration: underline;
  font-weight: bold;
  margin: 0 0.5rem;
}
li {
  list-style: none;
}

span {
  font-weight: bold;
  color: initial;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight:500;
}
table {
  padding: 1rem 0;
}
td { 
  text-align: center;
  font-size: 0.85rem;
 
}
th {
  padding:0.65rem 1rem;
  text-align: left;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border: none;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
}

.button_hover:hover {
  cursor: pointer;
}
.blue {
  background-color: var(--button-color);
  color: var(--main-bg-color);
}

.white {
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  margin-right: 1rem;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin2r0 {
  margin: 2rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}
.marginbottom2 {
  margin: 3rem 0;
}
.margin5r0 {
  margin: 5rem 0;
}
.padding05 {
  padding: 0.5rem;
}
.text-center {
  text-align: center;
}
.vh100 {
  height: 100vh;
}
/********************************************************************* NAV *********************************************************************/ 
.desktop { display: none;}

.menu_burger {
  height: 1.5rem;
}
.logo {
  height: 2.5rem;
}

.enveloppe {
  height: 1.5rem;
  padding-right: 0.65rem;

}

.title_nav {
 font-size: 2rem;
}

.ul_links {
  padding-left: 3rem;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 70%;
  height: 100vh;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  justify-content: space-evenly;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.navlinks {
  width: 100%;
  padding: 3rem 3rem 1rem 0;
  font-size: 1.5rem;
  text-align: left;
  border-bottom: 1px black solid;
}

.croix {
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

/********************************************************************* HOME *********************************************************************/ 
.main_container {
  padding: 1rem 3rem;
  overflow-x: hidden;
}

.landingpage_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.h1_home {
  text-align: right;
}

.h2_home {
  font-weight: bold;
    font-size: 2rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: none;
}

.first_h3_home {
  font-size: 1rem;
  color: var(--third-color);
  text-align: right;
}

.grimoire_magique {
width: 15rem;
}

.p_home {
  color: var(--third-color);
  font-weight: bold;
  font-size: 0.9rem;
}

.check {
    margin: 2rem 0.5rem 2.5rem 0;
    width: 2.5rem;
  }

  .article_home {
    margin: 5rem 0;
  }

  .article_home img {
    box-shadow: var(--box-shadow);
    border-radius:30% 70% 44% 56% / 30% 44% 56% 70% ;
    width: 90vw;
    margin: 3rem 0;
  }

  .partenaire_image {
    height: 7rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  }

  .formules_container *{
    margin: 1rem 0;
  }

  .prix {
    font-weight: bold;
    font-size: 2rem;
  }
  .chiffre {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius:30% 70% 44% 56% / 30% 44% 56% 70% ;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
  }

  .span_blue {
    font-size: 2rem;
    color: var(--button-color);
    padding: 0 0.25rem 0 ;
  }

  .alice-carousel {
    width: 100vw;
    margin-left: -3rem;
  }
/********************************************************************* SERVICES *********************************************************************/ 

.services_container {
  padding: 2rem 3rem;
}

.services_container * {
  padding: 1rem 0;
}

.services_img {
  height: 30rem;
}

iframe {
  width: 100vw;
  height: 50rem;
  overflow-x:hidden;
  overflow-Y:hidden;
}

.h3_formule {
  height: 10rem;
  width: 12rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1rem auto 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 61% 39% 75% 25% / 71% 29% 71% 29%  ;
  background-color: var(--button-color);
  color: var(--main-bg-color);
}

/********************************************************************* CONTACT *********************************************************************/ 


label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0
}
.contact_form input, .contact_form textarea{
padding: 1rem 2rem;
margin: 1rem 0;
border-radius: 0.25rem;
border: none;
box-shadow: var(--box-shadow);
width: 90%;
}

.contact_form textarea{
  height: 10rem;
}
.contact_form button {
  width: 10rem;
  margin: 1rem auto;
}

/********************************************************************* CLIENTS *********************************************************************/ 

.clients_container {
  padding: 2rem 3rem;
}
.clients_container * {
margin: 1rem 0;
}
.clients_image {
  width: 10rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}
/********************************************************************* BLOG *********************************************************************/ 

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog_container {
  width: 100%;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.blog h1 {
  font-size: 1.6rem;
}

.blog h2 {
  font-size: 1.3rem;
  color: var(--blog-title);
  text-align: left;
}

.blog_container > div {
width: 80vw;
margin: 3rem;
}

.blog_container a {
  display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
text-align: center;
}

.blog_container img {
  width: 100%;
  margin: 2rem 0;
}

.blog button {
    border-radius: 0.25rem;
    padding: 0.15rem;
}

/********************************************************************* BLOG 1 - Fondateur *********************************************************************/ 
.blog1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blog1 * {
  max-width: 90vw;
}

.blog1 h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.blog1 h2 {
margin: 1rem 0 1rem;
font-size: 1.35rem;
line-height: 1.2;
color: var(--blog-title);
}
.blog1 img {
  max-width: initial;
  width: 100vw;
  margin-left: -1.5rem;
  }

  .blog1 article {
    padding: 2rem 1rem;
  }

  .blog1 article p {
    margin: 2rem 0;
    font-size: 1rem;
    color: var(--third-color);
    line-height: 1.5;
  }

  .blog1 small {
    margin-bottom: 2rem;
  }

  .egalement_container {
    padding: 0 2rem;
  }

.mini_blog_container {
display: flex;
flex-direction: column-reverse;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 2rem 0;

}
  .mini_blog {
width: 80vw;
margin: 2rem 0;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

  }

  .mini_blog img {
    width: 100%;
    margin: 1rem 0;
  }

  .mini_blog button {
    border-radius: 0.25rem;
    padding: 0.15rem;
  }

  .blog3_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blog3_contact li {
    margin: 0.5rem ;
  }

  .blog1 a {
    text-decoration: underline;
  }

  .blog1 .button_kapNumerik {
    max-width: initial;
    width: 100vw;
    padding: 1rem 1rem;
    margin-left: -2.5rem;
    border: none;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: var(--button-color);
    color: var(--main-bg-color);
  }
  .blog1 .button_kapNumerik2 {
    max-width: initial;
    width: 70vw;
    padding: 1rem 1rem;
    margin-left: 0rem;
    border: none;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

 .blog1 .fleche {
    height: 0.75rem;
    width: auto;
    margin: 0 1rem;
    transform: rotate(-90deg);
    transition: all 0.25s ease-in-out;
  }

  .blog1 .valide {
    transform: rotate(0deg);
  }

  .blog2 * {
    background-color: transparent;
  } 
  
  .blog2 section {
margin: 3rem 0;
  }
.blog2 .container {
margin-bottom: 5rem;
}
  .blog2 section > * {
    margin:1.5rem 0;
      }

  .blog2 h5 {
    font-weight: normal;
    font-size: 1rem;
    color: var(--secondary-bg-color);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;

  }

  .blog2 ul {
    margin: 1.5rem 0;
  }


  .blog2 li {
    list-style: inside;
    color: var(--third-color);
    line-height: 1.5;
    margin: 0.5rem 0 0.5rem 1.5rem;
  }
/********************************************************************* FOOTER *********************************************************************/ 

.footer {
  padding: 1rem 2rem;
  align-items: flex-start;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.footer-section > * {
  margin: 1rem 0;
}

.footer * {
  padding: 0.35rem 0;
  background-color: inherit;
  color: inherit;
}

.footer li, .footer a, .footer div {
  padding: 0.15rem 0;
}
.footer-section {
  width: 100%;
  flex-wrap: wrap;
}

.footer img {
  width: 2rem;
  margin: 0 0.25rem;
  box-shadow: var(--box-shadow);
}

.mentions {
  text-align: center; 
  padding: 0 1rem;
}

.droits {
  text-align: center;
  padding: 0 1rem;
}

.designer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w100 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/********************************************************************* MENTIONS *********************************************************************/ 
.mentions {
  padding: 1rem 4rem 3rem 1rem;
}

.mentions > * {
  padding: 2rem 0;
}





/******************************************************************************************************************************************/ 
/********************************************************************* DESKTIOP *********************************************************************/ 
/******************************************************************************************************************************************/ 


@media screen and (min-width: 768px) {

  /************************************************************ HOME *********************************************************************/
  article {
    overflow: hidden;
  }
  .main_container {
    overflow-x: hidden;
  }
  .landingpage_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: calc(60vh);
  }

  .landingpage_container * {
    background-color: transparent;
  }
  
  .h1_home {
    text-align: right;
    font-size: 20vh;
    padding: 0 0 0 10rem;
    line-height:1;
  }

.avantage_container {
    flex-direction: row-reverse;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    height: 30vh;
    margin: 0;
  }


  .avantage_container > div.justify-evenly {
    width: 30%;
    padding: 0 3rem;
  }

  .buttons_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .h2_home {
    font-weight: bold;
      font-size: 10vh;
      height: 10rem;
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 0 0 6rem;
  }

  .first_h2_home {
    display: none;
  }
  
  .first_h3_home {
    font-size: 1.2rem;
    color: var(--third-color);
    text-align: right;

  }
  
  .grimoire_magique {
  height: 60vh;
  width: auto;
  transition: all 2s ease-in-out;
  }

  .p_home {
    color: var(--third-color);
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .check {
      margin: 2rem 0.5rem 2.5rem 0;
      width: 2.5rem;
    }

    .expertise_container, .chiffres_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

  .expertise_container {
    background-color: var(--button-color);
    margin: -3rem;
    padding: 2rem;
  }

  .expertise_bg .h2_home {
    background-color: var(--button-color);
    color: var(--main-bg-color);
    margin: 5rem -3rem 0;
    padding: 2rem 0 5rem 9rem;
    text-align: left;
    justify-content: flex-start;

  }
  .chiffres_container article {
    height: fit-content;
    width: 18vw;
    margin: 1rem 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
  }
    .article_home {
      height: fit-content;
      width: 25%;
      margin: 1rem 2rem;
      padding: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-shadow: var(--box-shadow);
      border-radius: 0.5rem;
      overflow: hidden;
    }

    .article_home .p_home {
      font-size: 2vh;
      font-weight: normal;
      height: 20vh;
    }
    .article_home button {
      margin: 1rem 0 0;
    }
    .article_home p{
 padding: 0 3rem;
    }
    .article_home img {
      box-shadow: var(--box-shadow);
      border-radius:30% 70% 44% 56% / 30% 44% 56% 70% ;
      height: 30vh;
      width: auto;
    }
  
    .partenaire_image {
      height: 7rem;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    }
  
    .formules_container *{
      margin: 1rem 0;
    }
  
    .chiffre {
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
      box-shadow: var(--box-shadow);
      border-radius:30% 70% 44% 56% / 30% 44% 56% 70% ;
      width: 8rem;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem auto;
    }
  
    .span_blue {
      font-size: 2rem;
      color: var(--button-color);
      padding: 0 0.25rem 0 ;
    }

  /************************************************************ SERVICES *********************************************************************/
  .prix {
    font-weight: bold;
    font-size: 2rem;
  }

  .service_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service_main_container > div {
    box-shadow: var(--box-shadow);
    width: 25vw;
    margin: 2rem;
    padding: 2rem 1rem;

  }

.h3_formule {
  height: 10rem;
  width: 12rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1rem auto 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 61% 39% 75% 25% / 71% 29% 71% 29%  ;
  background-color: var(--button-color);
  color: var(--main-bg-color);
}

  /********************************************************************* CLIENTS *********************************************************************/ 

.clients_container {
  padding: 0rem 3rem;
}
.clients_container * {
margin: 1rem 0;
}

.clients_main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.clients_main_container > div {
  width: 20vw;
  height: 70vh;
  overflow-y: hidden;
  margin: 2rem 5rem;
  padding: 0 2rem 1rem;
  box-shadow: var(--box-shadow);
}
.clients_image {
  width: 10rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}
  /********************************************************************* BLOG *********************************************************************/ 

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}
.blog_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 2rem;
}
.blog_container > div {
width: 25vw;
margin: 1rem;
box-shadow: var(--box-shadow);
padding: 1rem;
border-radius: 0.25rem;
}

.blog_container a {
  display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.blog_container img {
  width: 80%;
  margin: 1rem 0;
}

.blog button {
    border-radius: 0.25rem;
    padding: 0.15rem;
}
  /********************************************************************* BLOG1 *********************************************************************/ 

.blog1 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 15rem;
}

.blog1 h2 {
  font-size: 1.8rem;
  margin: 2rem;
  text-align: left;
  width: 100%;
}

.blog1 small {
  width: 100%;
  text-align: right;
  padding: 0.5rem 1rem;
  color: var(--third-color);
}

.blog1 img {
  width: 100%;
}

.egalement_container {
  padding: 0 10rem;
}
.mini_blog_container {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: space-between;
}

.mini_blog {
  width: 20vw;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mini_blog img {
  height: 10rem;
  width: auto;
}
  /********************************************************************* CONTACT *********************************************************************/ 
.contact_container {
  overflow-x: hidden;
}
  /********************************************************************* HEADER *********************************************************************/ 
  .desktop {
    display: initial;
  }
  .mobile {
  display: none;
}

.nav_desktop nav{
  height: 8vh;
  overflow: hidden;
}
.nav_desktop * {
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.nav_desktop button.blue {
  background-color: var(--button-color);
  padding: 0.75rem;
  margin: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.logo {
  margin: 0.5rem;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  height: 6vh;
}

.navlinks {
  padding: 1rem 3rem;
  font-size: 1rem;
  border-bottom: none;
}

}